* {
      margin: 0;
      padding: 0;
      text-decoration: none;
      list-style: none;
}

body {
      font-family: "Poppins";
}

.showcase{
      height: 100vh;
      background: url(Hero.jpg) no-repeat;
      background-position: center;
      background-size: cover;
}

.content {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 95%;
      padding: 0 1.6em;
      text-align: center;
}

.content h1 {
      color: #fff;
      font-weight: 200;
      font-size: 2em;
}
.content p{
      color: #fff;
      font-size: 1.6em;
      font-weight: 200;
}

nav {
      width: 100%;
      background: rgba(0,0,0,.5);
      height: 3em;
      position: fixed;
      z-index: 1;
      display: flex;
      flex-direction: row;/*default*/
      flex-wrap: nowrap;/*default*/
      justify-content: space-evenly;
	align-items:center;
	z-index: 999;
}


nav #brand {
      display: block;
      font-size: 1.8em;
      font-weight: 400;
	
}

nav #brand a {
      color: #fff;
      transition: all 0.3s ease-out;
      font-weight: 300;
}


.underline-on-hover::after{
      content: '';
      display: block; /*next line*/
      width: 0;
      height: 2px;
      background: #fff;
      transition: width .3s;
  }
  .underline-on-hover:hover::after
  {
      width: 100%;
      transition: width .3s;
  }

nav .menu li {
      display: inline-block;
      padding: 0px 30px;
      cursor: pointer;
      transition: all 0.3s ease-out;
}


nav .menu li a {
      color: #fff;
      font-family: "Poppins";
      font-weight: 200;
}

#toggle {
	  position: fixed;
	  right:10vw;
	  top:0.5em;
      
      width: 40px;
      height: 40px;
      cursor: pointer;
      transition: all 0.3s ease-out;
      visibility: hidden;
      opacity: 0;
	  
}

#toggle .span {
	  
      height: 3px;
      background: #fff;
      transition: all 0.3s ease-out;
      backface-visibility: hidden;
      margin: 5px auto;
}

#toggle.on #one {
      transform: rotate(45deg) translateX(2px) translateY(4px);
}

#toggle.on #two {
      opacity: 0;
}

#toggle.on #three {
      transform: rotate(-45deg) translateX(8px) translateY(-10px);
}

#resize {
      z-index: 1;
      position: fixed;
	  top: 0px;
      background: #000;
      width: 100%;
      height: 100%;
      visibility: hidden;
      opacity: 0;
      transition: all 1s ease-out;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
}

#resize .menu li {
      display: block;
      padding: 20px 0;
      line-height: 1.6em;
      font-size: 1.6em;
      font-weight: 200;
      cursor: pointer;
      transition: all 0.3s ease-out;
}

#resize .menu li a {
      color: #fff;
    
}

#resize.active { 
      visibility: visible;
      opacity: 0.8;
}


@media(max-width: 768px) {
      #toggle {
            visibility: visible;
            opacity: 1;
        
      }

      nav #brand {
		position:fixed;
		left:10vw;
      }

      nav .menu {
            display: none;
      }
}

@media(min-width: 768px) {
      #resize {
            visibility: hidden !important;
      }
}
